body {
    width: 80%;
    margin: auto;
}

hr {
    margin: 20px 0 20px 0;
}

header {
    height: 70px;
    text-align: center;
}

#date {
    margin: 20px 0 20px 0;
}

.time-block {
    height: 50px;
    line-height: 50px;
    margin: auto;
}

.time {
    text-align: center;
    width: 5%;
    display: inline-block;
    margin: auto;
}

.input {
    width: 85%;
    height: 50px;
    margin: auto;
}

.save {
    background-color: rgb(15, 227, 235);
    height: 50px;
    width: 5%;
    margin: auto;
    position: absolute;
}

.gray {
    background-color: gray;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

#clear {
    left: 83%;
    margin: 10px 0 0 0;
    background-color: crimson;
    color: white;
    height: 30px;
    position: absolute;
}